<div>
  <h2 class="text-3xl font-bold mb-4">Log in</h2>
</div>

<div>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="mb-4">
      <%= f.label :email, class: "text-lg" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" ,
          class: "w-full px-4 py-2 border border-gray-300 rounded" %>
    </div>

    <div class="mb-4">
      <%= f.label :password, class: "text-lg" %><br />
        <%= f.password_field :password, autocomplete: "current-password" ,
          class: "w-full px-4 py-2 border border-gray-300 rounded" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="mb-4">
        <%= f.check_box :remember_me, class: "mr-2" %>
          <%= f.label :remember_me, class: "text-lg" %>
      </div>
      <% end %>

        <div class="flex justify-center">
          <%= f.submit "Log in" , class: "bg-blue-500 hover:bg-blue-600 text-white font-semibold px-6 py-3 rounded" %>
        </div>
        <% end %>
</div>

<div>
  <%= render "devise/shared/links" %>
</div>