<!DOCTYPE html>
<html>
  <head>
    <title>ELearningApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="bg-blue-500 py-4">
      <div class="container mx-auto flex justify-between items-center">
        <div>
          <%= button_to "E-learning website", root_path, class: "text-white font-semibold text-lg", method: :get %>
        </div>
        <div class="flex items-center">
          <%= button_to "Courses", courses_path, class: "text-white hover:text-blue-200 mr-4", method: :get %>
          <%= button_to "Users", users_path, class: "text-white hover:text-blue-200 mr-4", method: :get %>
          <% if user_signed_in? %>
            <div class="mr-4 text-white hover:text-blue-200">Welcome <%= current_user.name %></div>
            <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "text-white hover:text-blue-200"%>
          <% else %>
            <%= button_to "Sign in", new_user_session_path, class: "text-white hover:text-blue-200 mr-4" %>
          <% end %>
        </div>
      </div>
    </nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>
  </body>
</html>
